*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   scroll-behavior: smooth;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
ul li{list-style: none;}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background: url(./assets/home.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.acient-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.acient {
  width: 200px;
  height: 260px;
  margin: 10px;
  border-radius: 10px;
}

.acient img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  border-radius: 10px;
}

.acient:hover {
  border: 2px rgb(51, 26, 26) solid;
}

.acient:active {
  border: 2px rgb(61, 52, 158) solid;
  transform: scale(1.1);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.aactive {
  border: 2px rgb(61, 52, 158) solid;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);;
}

.complexity-container {
  width: 20%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: rgb(157, 151, 185);
  text-transform: uppercase;
  padding: 10px;
  margin: auto;
  visibility: visible;
}

.transparent {
  visibility: hidden;
}

h2 {
 font-size: 18px;
  margin: 10px 5px;
  text-align: center;
}

.complexity {
background-color: rgb(72, 70, 97);
margin: 5px;
height: 40px;
border: 2px solid rgb(41, 40, 56);
border-radius: 10px;
text-align: center;
padding-top: 10px;

}


.complexity:hover {
  border: 2px rgb(31, 30, 44) solid;
}

.complexity:active {
  border: 2px rgb(61, 52, 158) solid;
  transform: scale(1.05);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 0.7);;
}

.rest {
  display: none;
}

.rest-first, .rest-second, .rest-third {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rest-green img, .rest-blue img, .rest-brown img {
  width: 40px;
  height: auto;
}

.number {
  width: 30px;
  height: 30px;
  background-color: rgb(72, 70, 97);
  margin: 5px;
  border: 1px solid rgb(41, 40, 56);
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  color: rgb(195, 194, 214);
  padding-top: 5px;
}

.stage {
  font-size: 15px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  width: 40px;
  height: 60px;
  padding-right: 10px;
}

.toss-container {
  width: 40%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: rgb(157, 151, 185);
  text-transform: uppercase;
  margin: auto;
}

.toss-pack {
  width: 41%;
  background-color: rgb(72, 70, 97);
  height: 40px;
  border: 2px solid rgb(41, 40, 56);
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  margin-top: 20px;
}

.card-wrapper {
  height: 280px;
  display: flex;
  flex-direction: row;
}

.pack-back {
  width: 180px;
  margin: 0 auto;
  margin-top: 20px;
}

.card-face {
  width: 180px;
  margin: 0 auto;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.pack-back img, .card-face img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(41, 40, 56);
}

.toss-pack:hover {
  border: 2px rgb(31, 30, 44) solid;
}

.toss-pack:active {
  border: 2px rgb(61, 52, 158) solid;
  transform: scale(1.005);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 0.7);;
}